{% extends "layout_base.html" %}
{% block content %}
<table class="table table-striped">
    <thead class="thead-default">
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Console</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{game.nome}}</td>
            <td>{{game.categoria}}</td>
            <td>{{game.console}}</td>
            <td>
                <a href = "{{ url_for('edit', id=game.id) }}">Editar</a>
                    ||
                <a href = "{{ url_for('delete', id=game.id) }}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}