{% extends "bootstrap/base.html" %}
{% block metas %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock metas %}
{% block title %}Jogoteca{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{{title|upper|trim}}</h1>
        </div>
        <form method='post' action='/add-game'>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" class="form-control">
                </div>
                <div class="form-group">
                    <label for="empresa">Empresa</label>
                    <input type="text" id="empresa" name="empresa" class="form-control">
                </div>
                <button type="submit" class="btn btn-success btn-salvar">Salvar</button>
        </form>
        {% endblock %}
    </div>
